<ion-header>
  <ion-toolbar>
    <ion-title>Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Gestor de Incidencias</ion-card-subtitle>
      <ion-card-title>Quiénes somos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Aliquam consectetur neque tortor, ut blandit enim ullamcorper non. 
      Ut nec augue nulla. Proin facilisis, eros faucibus sagittis placerat, 
      arcu lacus scelerisque enim, eu pharetra quam nibh sit amet metus. 
      Morbi volutpat ornare justo, in luctus mi viverra quis. 
      Aenean gravida leo sed tempor efficitur. Integer vitae consectetur nulla. Proin non leo metus.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Qué hacemos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Aliquam consectetur neque tortor, ut blandit enim ullamcorper non. 
      Ut nec augue nulla. Proin facilisis, eros faucibus sagittis placerat, 
      arcu lacus scelerisque enim, eu pharetra quam nibh sit amet metus. 
      Morbi volutpat ornare justo, in luctus mi viverra quis. 
      Aenean gravida leo sed tempor efficitur. Integer vitae consectetur nulla. Proin non leo metus.
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Dónde nos puedes encontrar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Aliquam consectetur neque tortor, ut blandit enim ullamcorper non. 
      Ut nec augue nulla. Proin facilisis, eros faucibus sagittis placerat, 
      arcu lacus scelerisque enim, eu pharetra quam nibh sit amet metus. 
      Morbi volutpat ornare justo, in luctus mi viverra quis. 
      Aenean gravida leo sed tempor efficitur. Integer vitae consectetur nulla. Proin non leo metus.
    </ion-card-content>
  </ion-card>
</ion-content>
